{% extends 'base.html' %}

{% block body %}
    <div class="row ">
        <div class="column ">
            <div class="ui jumbotron message ">
                <h1 class="ui header">
                    Barrackpore R.S Success Institute
                </h1>
                <p class="left">Let's grow together</p>

            </div>
        </div>
    </div>
    <br/>
    <div class="ui container">
        <div class="ui grid">
            <div class="ten wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <div class="ui red ribbon label">About Us</div>
                        <p>
                            <br/>
                            Barrackpore R.S Success Institute (BRSSI) came into existence in the year 2010 on 20th
                            March.
                            This institute was founded by SMT. RINA SAHA. At first it started functioning from Latbagan
                            and after 2011 it
                            shifted to its new address near Barrackpore Municipality. In our institute we basically
                            offer private
                            coaching session to students for Foundation course (Class I to Class XII) as well as
                            Engineering course (Class XI to Class XII) also. We prepare students in a scientific way for
                            different
                            examinations of Schools, Institutes & Boards (West Bengal, CBSE, ICSE).
                        </p>
                        <div class="ui container right aligned">
                            <div class="ui button primary mini">Read More ></div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <h3 class="ui red ribbon label">Why BRSSI?</h3>
                        <p>
                            <br/>
                            BRSSI wished to impart holistic education to the knowledge hungry brains of
                            India for their
                            academic
                            excellence. We continually respond to the upcoming changes in the field of education and
                            incorporate
                            them to the best of our abilities. We strive to reach out to perfection through a diligent
                            academic
                            pursuit for excellence. We further envision ourselves as a valued and honored institute
                            engaged
                            in
                            equipping students with knowledge and helping them realize their potentialities.
                        </p>
                    </div>

                </div>

                <div class="ui segment">
                    <div class="ui red ribbon label">Testimonial</div>
                    <p>
                        <br/>

                    </p>
                    <div class="ui container right aligned">
                        <div class="ui button primary mini">Read More ></div>
                    </div>
                </div>


            </div>
            <div class="six wide column">
                <h3 class="ui top attached header inverted small">Notice Board</h3>
                <div class="ui attached segment">
                    <marquee class="description" direction="up" onmouseover="this.stop();"
                             onmouseout="this.start();" style="min-height:200px">
                        BRSSI under construction
                    </marquee>
                </div>

                <div class="ui segment">
                    <Video>

                    </Video>
                </div>

                <h3 class="ui top attached header inverted small">Poll</h3>
                <div class="ui attached segment">

                    <div class="description">

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}