{% extends 'base.html' %} {% load static %} {% block head %}
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'components/slick-carousel/slick/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'components/slick-carousel/slick/slick-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" /> {% endblock %} {% block script%}
<script type="text/javascript" src="{% static 'components/slick-carousel/slick/slick.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('body .navbar').addClass('navbar-transparent');
        //        $('.slider').slick({
        //            dots: true
        //            , infinite: true
        //            , slidesToShow: 1
        //            , slidesToScroll: 1
        //            , autoplay: true
        //            , arrows: false
        //            , autoplaySpeed: 4000
        //        });
        //        $('.slider').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
        //            if (nextSlide == 0) {
        //                $('.slider').addClass('slide-1');
        //                $('.slider').removeClass('slide-2');
        //                $('.slider').removeClass('slide-3');
        //            }
        //            else if (nextSlide == 1) {
        //                $('.slider').removeClass('slide-1');
        //                $('.slider').addClass('slide-2');
        //                $('.slider').removeClass('slide-3');
        //            }
        //            else {
        //                $('.slider').removeClass('slide-1');
        //                $('.slider').removeClass('slide-2');
        //                $('.slider').addClass('slide-3');
        //            }
        //        });
        //        $('.testimonial').slick({
        //            infinite: true
        //            , autoplay: true
        //            , autoplaySpeed: 3000
        //            , slidesToShow: 1
        //            , slidesToScroll: 1
        //            , arrows: false
        //        , });
        //        $('.video-slider').slick({
        //            dots: true
        //            , infinite: true
        //            , autoplay: true
        //            , autoplaySpeed: 3000
        //            , slidesToShow: 1
        //            , slidesToScroll: 1
        //            , arrows: false
        //         });
        //        //            $('#primary_navbar').removeClass('navbar-default');
        //        //            $('#primary_navbar').addClass('navbar-transparent');
        //        //            $('#primary_navbar').addClass('navbar-color-on-scroll');
    });
    
    //                $(window).scroll(function () {
    //                    if (($(window).scrollTop()) <= 150) {
    //                        $('#primary_navbar').addClass('navbar-default');
    //                        $('#primary_navbar').removeClass('navbar-inverse');
    //                    } else {
    //                        $('#primary_navbar').removeClass('navbar-default');
    //                        $('#primary_navbar').addClass('navbar-inverse');
    //                    }
    //                });
</script>
{% endblock %} {% block body %}
<div class="slider-area">
    <div class="slider-active">
        <div class="slider-all"> <img src="{% static 'img/1.jpg'%}" alt="">
            <div class="slider-text-wrapper">
                <div class="table">
                    <div class="table-cell">
                        <div class="slider-text animated">
                            <h1>Let's grow together</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                <br> aliqua. minim veniam, quis nostrud exercitation ullamco </p>
                            <a class="button extra-small mb-20" href="#"> <span>Apply Now</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="service-area gray-bg ptb-110">
    <!-- Demo Section    -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="service-all white-bg">
                    <h2>Notice</h2>
                    <marquee class="description" direction="up" onmouseover="this.stop();" onmouseout="this.start();" style="min-height:200px"> 
                        {% for notice in notices %} {{ notice.content | safe }} {% if not forloop.last %}
                            <br/>
                            <br/> {% endif %}
                        {% endfor %} 
                    </marquee>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-from navy-bg">
                    <h3>Key features</h3>
                    <div class="orderby-wrapper">
                        <div class="service-left service-mrg mrg-xs navy-bg">
                            <div class="offer-icon"> <i class="icofont icofont-football-american"></i> </div>
                            <div class="offer-text">
                                <h3>Study Material</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur ad asese do eiusmod tempor incididunt utarla oreetdolo magna aliqua</p>
                            </div>
                        </div>
                        <div class="service-left service-mrg mrg-xs navy-bg">
                            <div class="offer-icon"> <i class="icofont icofont-football-american"></i> </div>
                            <div class="offer-text">
                                <h3>24 x 7 Doubt Clearing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur ad asese do eiusmod tempor incididunt utarla oreetdolo magna aliqua</p>
                            </div>
                        </div>
                        <div class="service-left service-mrg mrg-xs navy-bg">
                            <div class="offer-icon"> <i class="icofont icofont-football-american"></i> </div>
                            <div class="offer-text">
                                <h3>Performance Analysis</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur ad asese do eiusmod tempor incididunt utarla oreetdolo magna aliqua</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endblock %}