Rules & Regulation
1. After taking admission in our institute you should obey all rules and regulation properly. Your
behavior and your success is the main key of our goodwill, so please try to maintain this
goodwill.
2. Students are requested to attend each and every class allotted for them. If student is absent for the
day, his/her parents are requested to inform institute authority by mail or telephone. Without
information absence of student will not be granted.
3. In case of submission of home assignment student are requested to submit their home assignment
regularly & no argument will be granted for not/late submission of assignment.
4. You are requested to follow our website regularly for news and notice update.
5. Parents are also requested to keep in touch with institute authority for progress report of your
son/daughter.
6. For valid reason if parents are asked to contact with the institute authority, parents are requested
to contact with institute authority as soon as possible.
7. Fees details is not fixed for ever, it may be changed. For up to date fees structure please visit our
Website.
8. Generally in our institute we take two (2) classes per subject in a week. That means in a month a
student is allowed to attain eight (8) classes per subject. We also provide extra classes for
examination & which does not hamper the regular classes. At the beginning of the class we
follow this rule but at the middle/end of the season we also provided one extra class per subject
for weak students which are completely free of cost.
9. In every week/month there will be ONE/TWO Mock Test per subject. Students must appear this
exam & without information/valid reason absence of student will not be granted.
10. Here one thing should be cleared that we don’t know any magic & it is impossible to give grantee
of 100% marks in school’s/institute’s examinations. We shall try to give our level best and at the
same time student should also give him/her best to get a good result. One thing should be cleared
that education is a two way process. Students are requested to response in the classes, he/she can
share his/her problem with us without any hesitation.
11. We also organized some scholarship program for enrolled students. For more details please visit
our Scholarship corner and download application form from our website.
12. This rules and regulation is for all users (Students and Members of BRSSI) – Do not share your
Access Code or any other confidential Login details with any other person or allow any other
person to use your account. We are not liable for any improper use of your Login details, Access
Code or account or any use by any third party. If you think your Login details, Access Code, or
account have been compromised you must inform us immediately. 
