{% extends 'home/student.html' %} {% load static %} {% block content %}
<div class="container-fluid">
<h2>Scholarship</h2>
    <h3>Eligibility Criteria</h3>
    <p>
        Eligibility for student aid is determined on the basis of financial need and on several other factors. Only enrolled students who are taking private tuition in BRSSI from six months (06 Months) or started half year (1/2 Years), are eligible for this scholarship
        scheme 2014-2015. Student must satisfactorily complete his/her previous class without any consideration.
    </p>

    <h3>Financial Condition </h3>
    <p> Students, whose parent’s/guardian’s income does not exceed Rs. 10,000/- (Ten Thousand per year) per annum shall be eligible for Financial assistance. The applicant shall be required to furnish proof of income certificate in one of the following manner
        <ol>
            <li>Pay Slip</li>
            <li>Income certificate issued by Councilor</li>
        </ol>
    </p>

    <h3>Educational Criteria </h3>
    <p> BRSSI organizes Class Test and Mock Test (Based on syllabus) in every month. Student should appear all the examinations without fail & must carry overall 75% or above 75% marks in these examinations. We add the percentage of marks of these examinations
        with student's annual examination marks of school [Here we consider previous year's marks] and if student's overall marks is 80% or above that, he/she will be finally eligible for the scholarship scheme of BRSSI.
        <ol>
            <li>80% - 89% holder Rs.100 P.M.</li>
            <li>90% - 94% holder Rs.150 P.M.</li>
            <li>95% - 100% holder Rs.200 P.M.</li>
        </ol>
    </p>

    <h3>Other Information </h3>
    <p>After receiving the scholarship of BRSSI, if student neglects his/her study and is not able to perform required performance, without any argument he/she will be rejected from eligible student’s list for this scheme.
    </p>
    <a href="/student/scholarship/apply/" class="btn btn-primary pull-right">Apply Now <i class="fa fa-send"></i></a>
</div>
{% endblock %}
