{% extends 'home/student.html' %} {% load static %} {% load field_type %} {% block content %}
<div class="container-fluid">
    <h3>Apply for Scholarship</h3>
    <form action="." method="post"></form>
    {% for field in scholarship_form %} {% if field|field_type == 'CheckboxInput' %}
    <div class="checkbox">
        <label for="{{field.name}}">{{field}} {{field.label}}</label>
    </div>
    {% else %}
    <div class="form-group">
        <label for="{{field.name}}">{{field.label}}</label> {{field}}
    </div>
    {% endif %} {% endfor %}
    <div class="form-group">
        <h4>Declaration</h4>
        <ol class="declaration">
            <li>This is the only application submitted by me.</li>
            <li>I hereby declare that all the statements made in the applications are true to the best of my knowledge and belief.</li>
            <li>Certified that I have read and understood the rules &amp; regulation and fulfil the stipulated eligibility criteria.</li>
            <li>I understand that my candidature is liable to be cancelled at any stage in case any discrepancy is noticed &amp; No change in application is permitted after submission.</li>
        </ol>
    </div>
    <div class="checkbox">
        <lable for="declaration"><input name="declaration" type="checkbox" class="checkbox" required>I accept</label>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Submit" />
        <input class="btn btn-warning" type="reset" value="Reset" />
    </div>
    </form>
</div>
{% endblock %}
