$margin-low: 5px;
$margin-mid: 10px;
$margin-high: 15px;

.margin-mid{
    margin: $margin-mid;
}

.margin-high{
  margin: $margin-high;
}

.margin-bottom-low{
  margin-bottom:$margin-low;
}
.margin-bottom-mid{
  margin-bottom:$margin-mid;
}
