/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
ol{
  list-style-type: upper-roman;
  .declaration{
    padding-left: 0;
    list-style-type: decimal;
  }
}
